{% extends "app/base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block main-content %}
<center>
<div>
  <br>
  <h2><b>Verify OTP Sent Successful </b></h2>
  <p>
  <p>
    <br>
  <form method="post" id="otp-verify-form">
    {% csrf_token %}
    <label for="email"><b>Email:</b></label>
    <input style="margin-right: 95px;" type="email" id="email" name="email" required><br><br>
    <p>
    <label for="otp"><b>Otp:</b></label>
    <input style="margin-right:95px; "type="text" id="otp" name="otp" required><br>
    <br>
    <button type="submit" style="background-color:#0d6efd; color: white; margin-right: 95px;">Verify Otp</button>
  </form>
</div>
</center>
{% endblock main-content %}

{% block scripts %}
<script>
  // JavaScript to handle form submission and response
  document.getElementById('otp-verify-form').addEventListener('submit', function (e) {
    e.preventDefault();

    const email = document.getElementById('email').value;
    const otp = document.getElementById('otp').value;
    const formData = new FormData();
    formData.append('email', email);
    formData.append('otp', otp);

    fetch('{% url "verify_otp" %}', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        alert(data.message);
        if (data.message === 'Login successful') {
          // Redirect to the desired page upon successful login
          window.location.href = '{% url "app/home" %}';  // Replace with your home URL
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred.');
      });
  });
</script>
{% endblock %}
